<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/yangpan.css}">
    <script th:src="@{/js/yangpan.js}"></script>
</head>
<body>
    <p th:text="'姓名：' + ${name}"></p>
    <p th:text="'出生日期：' + ${#dates.format(birthday,'yyyy-MM-dd')}"/>
    <div>
        爱好：<span th:each="item: ${likes}" th:text="${item} + '、'"></span>
    </div>
</body>
</html>